{
  "extends": "hexo",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "node/no-unsupported-features": "off",
    "node/no-extraneous-require": ["error", {
      "allowModules": ["chalk"]
    }]
  }
}
